*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-all{
    width: 600px;
    font-size: 1.4rem;
}
.container-all h2{
    margin: 1.5rem 0;

}
form .container{
    gap: 8rem;
    display: flex;
    margin-bottom: 1rem;
    width: 500px;
}
input{
    padding: 0.5rem;  
}
.container-3{
    margin-bottom: 1rem;
    display: flex;
    gap: 10rem;
}
.container-2{
    margin-bottom: 1rem;
    display: flex;
    gap: 3rem;
}
.container-1{
    margin-bottom: 1rem;
    display: flex;
    gap: 9rem;
}
.container-4{
    display: flex;
    gap: 2.5rem;
}
.container-5{
    display: flex;
    margin-bottom: 1rem;
    gap: 6rem;
}
.container-7{
    display: flex;
    gap: 0.9rem;
    font-size: 1.3rem;
}
.container-8{
    display: flex;
    gap: 4.6rem;
    margin-bottom: 1rem;
}
.container-9{
    display: flex;
    gap: 9.6rem;
    margin-bottom: 1rem;
}
.container-10{
    display: flex;
    gap: 8.5rem;
    margin-bottom: 1rem;
}
select{
    padding: 0.5rem;
    width: 190px;
    font-size: 1rem;
    color: gray;
    text-align: center;
}
button{
    margin-left: 13rem;
    background: blue;
    color: #fff;
    padding: 0.5rem;
    width: 192px;
    outline: 0;
    border: none;
    transition: all 300ms ease;
    box-shadow: 0 0 1rem rgba(121, 59, 179, 0.5);
}
button:hover{
    transform: scale(1.1);
    box-shadow: none;
}